:root {
    --pink: #ecb2ba;
    --pink-dark: #c6939a;
    --tape-gray: #dbd8be;
    --tape-edge-gray: #b7b49d;
    --transparent: rgba(255, 255, 255, 0);
}

body {
    margin-top: 50px;
    font-family: 'Just Another Hand', cursive;
    background-color: lightcyan;
    animation: bg 4s linear infinite;

}

@keyframes bg {
    0% { background-color: lightcyan;}
    50%{ background-color: lightgoldenrodyellow;}
}

.pink {
    --paper-color: var(--pink);
    --paper-dark: var(--pink-dark);
    --shadow-size: 1px;
    --transparent: rgba(236, 178, 186, 0);
}

aside {
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

.msg {
    position: fixed;
    bottom:0%;
    margin: 50px;
    transform: rotate(20deg);
}

canvas {
    border: 1px solid #333;
}

#canvas {
    display: flex;
    justify-content: center;
}

.mazeWrapper {
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

div > p {
    font-size: 20px;
    text-align: center;
}

ol {
    font-size: 20px;
    padding: 0;
    border: 1px solid #ddd;
}

ol li {
    padding: 8px 16px;
    border: 1px solid #333333;
    letter-spacing: 0.3ch;
}

.highScores {
    float: left;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    padding: 1rem 4rem;
    box-shadow: 5px 10px gray;
    background-color: white;
}

.canvasW {
    float: left;
    margin-right: 50px;
    margin-left: 50px;
    box-shadow: 5px 10px gray;
    padding: 1rem 4rem;
    display: inline-block;
    justify-content: center;
    align-content: center;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    position: relative;
    background-color: white;
}

.formW {
    float: left;
    display: flex;
    flex-direction: column;
    border: 3px solid #333333;
    border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
    letter-spacing: 0.3ch;
    padding: 1rem 4rem;
    box-shadow: 5px 10px gray;
    background-color: white;
}

h1 {
    text-align: center;
    font-weight: normal;
}

#score {
    margin-top: 30px;
    text-align: center;
    font-size: larger;
}

#inputValidation {
    margin-top: 20px;
    text-align: center;
    font-size: larger;
    color: red;
    font-weight: bold;
}

#startBtn {
    width: 100%;
    margin-top: 20px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #e6e6e6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#startBtn:hover {
    background-color: #d9d9d9;
}

#startBtn:active {
    background-color: #d9d9d9;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}

label {
    display: inline-block;
    text-align: right;
    width: max-content;
    font-size: 20px;
}


input[type=number] {
    width: auto;
    border: 3px solid lightgray;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]:focus {
    border: 3px solid #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    display: inline-block;
    text-align: right;
}

.number-input button {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:after {
    display: inline-block;
    position: absolute;
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900;
    content: '\f077';
    transform: translate(-50%, -50%) rotate(180deg);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 2rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
}

.paper {
    position: relative;
    background: linear-gradient(
            to bottom right,
            var(--paper-dark),
            20%,
            var(--transparent)
    ),
    var(--paper-color);
    min-width: 250px;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Caveat", cursive;
    font-size: 2rem;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
    margin: 50px auto auto;
}

.paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    ),
    linear-gradient(
            to right,
            var(--transparent),
            50%,
            var(--paper-dark),
            51%,
            var(--transparent)
    );
}

.tape-section {
    position: absolute;
    width: 100%;
}

.top-tape {
    position: absolute;
    height: 4vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
}

.tape-section:first-of-type {
    top: 0;
}

.tape-section:last-of-type {
    bottom: 0;
}

.tape-section::before,
.tape-section::after {
    content: "";
    width: 10vmin;
    height: 4vmin;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: -4vmin;
    top: -3vmin;
}

.tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
}

.tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
}

.tape-section:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
}

#modalBtn {
    width: min-content;
    /*margin-bottom: 50px;*/
    /*display: inline-block;*/
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #e6e6e6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#modalBtn:hover {
    background-color: #d9d9d9;
}

#modalBtn:active {
    background-color: #d9d9d9;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



